.container-fluid{:class => (signed_in? ? "signed-in" : nil)}
  .row
    .sidebar
      .navbar.navbar-default
        %a{href: root_url}
          = image_tag c("site.logo"), :alt => t("titles.main", :thing => t("defaults.thing").titleize, :city => c("city.name")), :title => t("titles.main", :thing => t("defaults.thing").titleize, :city => c("city.name"))
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .sidebar-content
        -# Corresponds to guideline div below
        %div.hidden-xs
          %h3.text-center
            = t("titles.adopted_tagline", :count => Thing.adopted(current_city).count, :things => t("defaults.things"), :city => c("city.name"))
            .small
              Last updated
              = local_date(Time.now, '%B %e, %Y')
          %a.details{:href => "#details", :"data-toggle" => "modal", :"data-target" => "#details"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #content
          = render :partial => "layouts/flash", :locals => {:flash => flash}
          - if signed_in?
            = render :partial => "sidebar/search"
          - elsif @reset_password_token.present?
            = render :partial => 'passwords/edit'
          - else
            %iframe{ :width => "100%", :src => "https://www.youtube.com/embed/269AeYt_S9s", :frameborder => "0", :allowfullscreen => "allowfullscreen" }
            = render :partial => "sidebar/search"
        -# Corresponds to guideline div above
        %div.hidden.visible-xs-block
          %a.details{:href => "#details", :"data-toggle" => "modal", :"data-target" => "#details"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline")
        #logos
          .row.sidebar-logo-row
            .col-xs-1
            .col-xs-4
              %a{:href => c("city.url")}
                = image_tag c("city.logo"), :alt => c("city.title"), :title => c("city.title"), :class => "puc"
            .col-xs-2
            .col-xs-4
              %a{:href => "https://mysticriver.org/"}
                = image_tag "logos/mrwa-logo.png", :alt => "Mystic River Watershed Association", :title => "Mystic River Watershed Association", :class => "dpw"
            .col-xs-1
          .row.sidebar-logo-row
            .col-xs-1
            .col-xs-4
              %a{:href => "https://www.mass.gov/orgs/massachusetts-department-of-environmental-protection"}
                = image_tag "logos/massdep-logo.png", :alt => "Massachusetts Department of Environmental Protection", :title => "Massachusetts Department of Environmental Protection", :class => "datasf"
            .col-xs-2
            .col-xs-4
              %a{:href => "mailto:j.korenstein@gamedaymatchup.net?subject=Inquiry about technology behind Adopt-a-drain"}
                = image_tag "logos/coronado.png", :alt => "Coronado Consulting", :title => "Coronado Consulting", :class => "datasf"
            .col-xs-1
    .col-md-9.map-container
      #map
        &nbsp;
      #legend
        .title
          Legend
        .show-hide
          %a#toggleLegend{:href=>"#"}
            Hide
  = render :partial => "sidebar/tos", layout: "layouts/modal", locals: {id: "tos", title: "Volunteer Waiver & Release Of Liability"}
  = render :partial => "sidebar/details", layout: "layouts/modal", locals: {id: "details", title: "What Does it Mean To Adopt a Drain?"}
:javascript
  this.cityConfig = { 
    mapCenterLat: #{c('city.center.lat')}, 
    mapCenterLng: #{c('city.center.lng')} 
  }
  $(function() {
    $('.navbar-toggle').on('click', function(){
      $('div.sidebar').toggleClass('sidebar-full');
    });
  });
