%h2
  = t("titles.adopt", :thing => t("defaults.thing").titleize)
= form_for :thing, :url => things_path, :method => :put, :html => {:id => "adoption_form"} do |f|
  = f.hidden_field "id"
  = f.hidden_field "user_id", :value => current_user.id
  %fieldset.form-group
    = f.label "name", t("labels.name_thing", :thing => t("defaults.thing")), :id => "thing_name_label", :class => "control-label"
    = f.text_field "adopted_name", :value => @thing.name, :class => "form-control"
  %fieldset.form-group
    = f.submit t("buttons.adopt"), :class => "btn btn-primary btn-block"

  - if @thing.priority
    %p
      = t("titles.priority_html", :thing_title  => t("defaults.thing").titlecase, :thing => t("defaults.thing"))
  - elsif @thing.system_use_code == 'MS4'
    %p
      %a{href: "http://sfwater.org/index.aspx?page=399", target: '_blank'}
        = t("links.special", :thing => t("defaults.thing"))
