%p
  <i>What is an Adopt-a-Drain program? What does it mean to adopt a drain? </i>An Adopt-a-Drain program is a volunteer program which helps keep our local environment clean and healthy. Participants sign up to adopt a drain (or drains!) and then check on that drain before and after heavy rain, wind, or snow. Any extra care is even better! Anything that goes down the drain ends up in #{c("city.runoff_destination")}, which is why this program is so helpful. Keeping the drains clear can also help prevent streets from flooding as it ensures that water can freely flow down the drain.

%p
  <i> What am I adopting? What is a storm drain? </i> Storm drains are the grates you see in streets and roads. They’ll be to the side of the road, along the curb, and in #{c("city.name")} are typically square. Since asphalt and pavement can’t absorb water, any rain and melting snow flow along the street and into these drains. A basin below the grates, called a catch basin, is meant to collect this water and any debris but it can fill up quickly and doesn’t capture everything. Water that goes into the drains - and anything in that water, like trash - doesn’t get treated or go to a wastewater plant, instead it empties into nearby water bodies.

%h2
  Drain Cleaning Instructions

%ol
  %li
    Be mindful of road traffic and keep an eye out for cars, trucks, and bicycles when clearing your drain. Work from the sidewalk as much as possible.
  %li
    Clear any debris that is directly blocking your storm drain, and clear an area a few feet around the drain to remove anything that could get swept in or block the drain. This might include leaves, sticks, snow, or trash.
  %li
    Wear gloves or use a rake or broom to clear the drain, and use caution when picking up debris.
  %li
    Dispose of trash or recyclables as you would normally, in their appropriate bins. Organic material like leaves and sticks can be disposed of with your yard waste. Visit <a target="_blank" href="#{c("city.trash_page_url")}"> #{c("city.trash_page_label")} </a> if you have questions about how to dispose of anything you clear out of your drain.
  %li
    Never try to remove the grate or reach inside the storm drain.
  %li
    Be sure to check your drain around major weather events - before and after it rains, or after a snow storm.
  %li
    Check if your drain has a label saying “No Dumping, Drains to River.” If it doesn’t, let us know if you’d like to help out and add one by contacting the #{c("org.name")} at <a href="mailto:#{c("org.email")}">#{c("org.email")}</a>.
  %li
    If anything appears to be broken, or you have any concerns about your drain, please report non-emergency issues #{c("city.report_issues")}.
  %li
    Please contact <a href="mailto:#{c("org.email")}">#{c("org.email")}</a> with any other questions about the program or stormwater in general.

= render :partial => "sidebar/guidelines"
