%h2 General Volunteer Guidelines
%p
  Thank you for your dedication to #{c("city.name")}! Your well-being and enjoyment are important to us. All volunteers are expected to conduct themselves in a safe, courteous and legal manner while participating in activities on #{c("city.type")} property or right-of-way. Please follow these guidelines:

%h3 General Safety
%ol
  %li
    Wear appropriate footwear, clothing, sunscreen and eye protection (when necessary).
  %li
    Be extra careful in wet or slippery conditions.
  %li
    Report non-emergency issues #{c("city.report_issues")}. Call 911 for emergencies.


%h3 Traffic Safety
%ol
  %li
    Stay out of the street as much as possible, and work from the sidewalk if you can.
  %li
    Wear a bright reflective work vest or bright-colored clothing.
  %li
    Cross streets at signals or crosswalks, not mid-block.

%h3 Working Near Waterways
%ol
  %li
    Always work with a partner near water.
  %li
    Watch your footing on slopes and shorelines.
  %li
    Never allow children to work on steep slopes or near shorelines without adult supervision.

%h3 Debris Removal
%ol
  %li
    Wear gloves or use a rake or broom to clear the drain, and use caution when picking up debris. Always sweep, rake or shovel glass. Never pick up sharp objects with your hands.
  %li
    Separate collected materials into the appropriate garbage, recycling, yard waste, or compost bins.
  %li
    Never touch hazardous or medical waste (including automotive fluids and hypodermic needles). Report such items #{c("city.report_issues")}.

%h3 General Conduct
%ol
  %li
    Always be courteous to fellow volunteers and #{c("city.type")} employees.
  %li
    Never make unauthorized changes to #{c("city.type")} property or right-of-way, including landscaping.

= render :partial => "sidebar/tos"
