%h2 Terms of Service

%p
  I am voluntarily participating in the #{c("city.title")}’s Adopt-a-Drain program. I have read and agree to follow the Volunteer Guidelines, below and as you click on “What Does it Mean To Adopt a Drain?” on the <a target="_blank" href=#{request.original_url}>site</a>.  I acknowledge my participation in these events does not come without the risk of injury or harm; I accept this risk and assume responsibility for all liability and risk associated with my participation.  By signing up, I acknowledge that I am 18 years of age or older. 

%p
  By signing up, I agree to allow #{c("city.title")} to send me emails related my adopted drains.

%p
  I understand that as a volunteer I control the dates and times when I do the work and that the #{c("city.title")} is not responsible for scheduling my volunteer work or monitoring my compliance with the guidelines. I also affirm that I am receiving no compensation or other consideration for my participation and that I have read, understand, and freely and willingly agree to the release and hold harmless provisions stated below.

%p
  I agree to hold harmless, release, waive and forever discharge the #{c("city.title")} (“the #{c("city.type")}”) and the Commonwealth of Massachusetts (“the State”), their employees, departments, officers and agents, from any and all claims or demands I may have by reason of any accident, illness, injury, loss, destruction, or damage to property, arising or resulting directly or indirectly from my participation in this activity. I further agree not to bring any legal action against the #{c("city.title")} or the Commonwealth of Massachusetts, or their employees, departments, officers and agents, for any injury, loss or damage resulting from my participation in this activity. This Waiver and Release is contractual and not a mere recital and applies whether or not injury or loss resulting from this activity is caused by an act or omission of the #{c("city.type")} or the State, their employees, departments, officers, or agents, negligent or otherwise.

%p
  This Waiver and Release is binding on my heirs, executors, administrators, assigns, and all of my family members, and applies to all losses, whether known or unknown, suspected or unsuspected, related to my participation in this activity.

%p
  Last updated June 20, 2022.

