<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag c("site.logo"), :alt => "adopt-a-drain logo", :title => "adopt-a-drain logo", :style => "max-height: 10em;" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Thank you for adopting one of <%= c("city.name") %>’s catch basins/storm drains! By keeping this drain free of leaves and debris, you are joining your neighbors in helping to protect the Mystic River and Lakes, manage stormwater, and minimize flooding.
  </p>

  <h2 style="font-size: 1.05em">How to Care For Your Adopted Drain</h2>

  <ul>
    <li>
      If possible, clear your drain before and after it rains.
    </li>
    <li>
      Clear about 10 feet around your drain, removing anything that could get swept in or clog the drain, including leaves, trash, and snow.
    </li>
    <li>
      Dispose of trash or recyclables as you would normally, in their appropriate bins. Organic material like leaves and sticks can be disposed of with your yard waste. Visit <a href="<%= c("city.trash_page_url") %>"> <%= c("city.trash_page_label") %> </a> if you have questions about how to dispose of debris.
    </li>
    <li>
      Medical waste or needles? Construction debris? Drain clogged below the grate? Report it <%= c("city.report_issues") %>.
    </li>
  </ul>

  <h2 style="font-size: 1.05em">Drain Cleaning Safety Tips</h2>

  <ul>
    <li>
      Never try to lift the drain grate.
    </li>
    <li>
      Clear from the sidewalk, not the street.
    </li>
    <li>
      Wear reflective clothing so vehicles can see you.
    </li>
    <li>
      Always wear gloves and be very careful of sharp objects.
    </li>
    <li>
      Use a rake, broom, or shovel - not your hands.
    </li>
  </ul>

  <p>
    Visit <a href="<%= c("org.url") %>"><%= c("org.name") %></a> to learn more about environmental efforts taking place in the Mystic River watershed. Contact <a href="mailto:<%= c("org.email") %>"><%= c("org.email") %></a> or call <a href="tel:<%= c("org.phone") %>"><%= c("org.phone") %></a> with any questions. 
  </p>

  <p>
    Thanks again for adopting a <%= c("city.name") %> drain!
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    <%= c("city.title") %>
  </p>

  <p>
    <em>
     Remember, the <%= c("city.title") %> is not responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please let us know by unclaiming it on <a href="<%= c("site.main_url") %>">our site</a>. Thank you!
  </p>

  <p>
    <a href="<%= c("city.facebook") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "facebook", :title => "facebook" %>
    </a>

    <% if c?("city.instagram") %>    
      &nbsp;
      <a href="<%= c("city.instagram") %>" style="text-decoration:none !important;">
        <%= image_tag "icons/instagram.png", :alt => "instagram", :title => "instagram" %>
      </a>
    <% end %>

    &nbsp;
    <a href="<%= c("city.twitter") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "twitter", :title => "twitter" %>
    </a>

    <% if c?("city.instagram") %>    
      &nbsp;
      <a href="<%= c("city.linkedin") %>" style="text-decoration:none !important;">
        <%= image_tag "icons/linkedin.png", :alt => "linkedin", :title => "linkedin" %>
      </a>
    <% end %>
  </p>
</td></tr></table>
