<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag c("site.logo"), :alt => "adopt-a-drain logo", :title => "adopt-a-drain logo", :style => "max-height: 10em;" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>

  <p>
    If you encounter medical waste, construction debris, or if the drain is
    clogged beneath the grate, report non-emergency issues <%= c("city.report_issues") %>.
  </p>

  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We love to hear from you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    <a href="<%= c("org.url") %>">Adopt a Drain</a> Team
    <br />
    <a href="tel:<%= c("org.phone") %>"><%= c("org.phone") %></a>
    <br />
    <a href="mailto:<%= c("org.email") %>"><%= c("org.email") %></a>
  </p>

  <p>
    <em>
      Remember, the <%= c("city.title") %> is not responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please let us know by unclaiming it on <a href="<%= c("site.main_url") %>">our site</a>. Thank you!
  </p>

  <p>
    <a href="<%= c("city.facebook") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "facebook", :title => "facebook" %>
    </a>

    <% if c?("city.instagram") %>    
      &nbsp;
      <a href="<%= c("city.instagram") %>" style="text-decoration:none !important;">
        <%= image_tag "icons/instagram.png", :alt => "instagram", :title => "instagram" %>
      </a>
    <% end %>

    &nbsp;
    <a href="<%= c("city.twitter") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "twitter", :title => "twitter" %>
    </a>

    <% if c?("city.instagram") %>    
      &nbsp;
      <a href="<%= c("city.linkedin") %>" style="text-decoration:none !important;">
        <%= image_tag "icons/linkedin.png", :alt => "linkedin", :title => "linkedin" %>
      </a>
    <% end %>
  </p>
</td></tr></table>
