<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><tr><td>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="text-align: center;">
        <%= image_tag c("adopt_a_drain_logo"), :alt => "adopt-a-drain logo", :title => "adopt-a-drain logo" %>
      </td>
    </tr>
  </table>

  <p>
    Dear <%= @user.name.split.first %>,
  </p>

  <p>
    Wow! Thank you for adopting another drain.
  </p>

  <p>
    If you encounter medical waste, construction debris, or if the drain is
    clogged beneath the grate, report non-emergency issues <%= c("details.report_issues") %>.
  </p>

  <p>
    As always, please let us know if you have any feedback or questions about
    this program. We love to hear from you.
  </p>

  <p>
    Sincerely,
  </p>
  <p>
    <a href="<%= c("socials.site_url") %>">Adopt a Drain</a> Team
    <br />
    <a href="tel:<%= c("socials.phone") %>"><%= c("socials.phone") %></a>
    <br />
    <a href="mailto:<%= c("socials.email") %>"><%= c("socials.email") %></a>
  </p>

  <p>
    <em>
      Remember, the <%= "#{c("city.type")} of #{c("city.name")}" %> is not responsible for anything that happens to you or others in service of maintaining your drain. Please be careful!
    </em>
  </p>

  <p style="font-style: italic; font-size: 11px;">
    If you move or are no longer able to tend to your drain, please let us know by unclaiming it on <a href="<%= c("main_url") %>">our site</a>. Thank you!
  </p>

  <p>
    <a href="<%= c("socials.facebook") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/facebook.png", :alt => "mystic facebook", :title => "mystic facebook" %>
    </a>
    &nbsp;
    <a href="<%= c("socials.twitter") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/twitter.png", :alt => "mystic twitter", :title => "mystic twitter" %>
    </a>
    &nbsp;

    <a href="<%= c("socials.linkedin") %>" style="text-decoration:none !important;">
      <%= image_tag "icons/linkedin.png", :alt => "mystic linkedin", :title => "mystic linkedin" %>
    </a>
  </p>
</td></tr></table>
